.one{
	color: darkred;
}
.two{
	color: lightcoral;
}
.three{
	color: midnightblue;
}
#f{
	color: darkmagenta;
}
#r{
	color: darkmagenta;
}
.r{
	color: blueviolet;
}
.f{
	color: blueviolet;
}
#w{
	color: firebrick;
}
.w{
	color: darkred;
}
#o{
	color:goldenrod
}
.o{
	color: darkgoldenrod;
}
.end{
	color: midnightblue;
}